@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

body{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

body a{
	margin-left: 10px;
}

body a:hover{
	color: #ff66ff;
}

h2{
	text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button{
	-webkit-appearance: none;
	margin: 0;
}
.loading{
	height: 100%;
}

.loading:before{
	position: absolute;
	left: 0;
	content: "";
	bottom: 0;
	right: 0;
	top: 0;
	z-index: 1000;
	background: rgba(255, 255, 255, 0.9) no-repeat center center;
	background-image: url('loading-animation.gif');
}

.viewPosition{
	width: 75%;
	margin: 0 auto;
}

.animate-view{
	position: relative;
}


.animate-view.ng-leave{
	transition: 0.5s linear all;
	left: 0;
	opacity: 1;
}

.animate-view.ng-leave.ng-leave-active{
	left: 100%;
	opacity: 0;
}

.animate-view.ng-enter{
	transition: 1s linear all;
	opacity: 0;
}

.animate-view.ng-enter.ng-enter-active{
	opacity: 1;
}


#main{
	margin: 0 auto;
	width: 50em;
}

#pageTitle{
	width: 100%;
}

#pageTitle h1{
	text-align: center;
}


.innerGeneral{
	border: 1px solid black;
	margin: 4% auto;
	width: 39%;
}

#mainInner{
	display: flex;
	margin-top: 5%;
}

#innerLeft{
	width: 29em;
}

#innerRight{
	margin-left: 9%;
	width: 20em;
}

.detailsTitle{
	border-bottom: 1px solid black;
}

#resetBtn{
	float: right;
    margin-top: 4%;
}

#mealDetailsForm{
	padding-left: 9%;
	padding-right: 9%;
}

#detailsBtns{
	width: 100%;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.deetsInput{
	margin-top: 5%;
}

.deetsInputReal{
	float: left;
	width: 95%;
}

.percentages{
	width: 4em;
}

.rightDivPadding{
	padding-right: 9%;
	padding-left: 9%;
	padding-bottom: 9%;
}

.rightDivPadding label{
	display: block;
}

.tableStyle{
	padding-left: 9%;
	padding-bottom: 9%;
}

.tr_bottom_border td{
	border-bottom: 1px solid black;
}

.errorMsg{
	background: maroon;
	color: white;
	padding: 5px;
	margin-top: 30px;
	font-size: 11px;
	border-radius: 5px;
	position: absolute;
	animation: fadeIn ease-in 0.6s;
}

.errorMsg:after, .errorMsg:before{
	bottom: 100%;
	left: 74%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.errorMsg:after{
	border-bottom-color: maroon;
	border-width: 5px;
	margin-left: -80px;
}

.buttonHover:hover{
	cursor: pointer;
}



